$font-stack:    Helvetica, sans-serif;
$primary-color: #999;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

table {
  float:left;
  padding: 5px;
  border: 5px solid navy;
  margin: 0px;	
}

td {
  width: 200px;
  padding: 0px;
  border: 1px solid black;
  margin: 0px;		
}

button {
  width: 100%;
}

.numPad{
  padding: 2px;
  border: 2px solid black;
  margin: 0px;    
}

.numPadDigit{
  width: 50px;
  padding: 0px;
  border: 1px solid black;
  margin: 0px;      
}
