doctype html

html(lang="en")
  head
    title= Sudoku
    // vendor:css
    // endinject
    // app:css
    // endinject


  body
    h1 The Most Fun Sudoku on the Internet
    #container.col
      p.
        Testing the paragraph
      table
        thead
          tr: th Test
        tbody
          tr
            td row
            td new row
          tr
            td newest row

    // vendor:js
    // endinject
    // app:js
    // endinject