doctype html

html(lang="en")
  head
    title= Sudoku
    // vendor:css
    // endinject
    // app:css
    // endinject


  body
    h1 The Most Fun Sudoku on the Internet
    .container.col

    .restart.col 


    // vendor:js
    // endinject
    // app:js
    // endinject